In [173]:
import pandas as pd 
import numpy as np

In [174]:
#url link to the webpage : "Liste des matchs de l'equipe nationale tunisienne de football"
url = "https://fr.wikipedia.org/wiki/Liste_des_matchs_de_l%27équipe_de_Tunisie_de_football_par_adversaire"

In [175]:
import requests
r = requests.get(url)
website = r.text

import pandas as pd
tables = pd.read_html( website, encoding="UTF-8")

In [176]:
tables[2]

                Date             Lieu          Match Score   Compétition
0    4 décembre 1960  Tunis (Tunisie)  Tunisie - RDA   0-3  Match amical
1    26 février 1974  Tunis (Tunisie)  Tunisie - RDA   0-4  Match amical
2    10 février 1983  Tunis (Tunisie)  Tunisie - RDA   0-2  Match amical
3  23 septembre 1987       Gera (RDA)  RDA - Tunisie   2-0  Match amical

In [177]:
L = ['A','Algérie','Allemagne','Allemagne de l Est','Angleterre',
     'Angola','Arabie saoudite','Argentine','Australie','B','Belgique',
     'Brésil','C','Cameroun','Canada','Colombie','Costa Rica','E',
     'Égypte','Émirats arabes unis','Espagne','F','France','G','Gambie'
     ,'Ghana','I','Italie','J','Japon','L','Libye','M','Madagascar','Mali',
     'Maroc','Maurice','Mauritanie','N','Nigeria','Norvège','P','Panama',
     'Pays-Bas','Pologne','Portugal','R','République centrafricaine','Russie',
     'S','Sénégal','Serbie-et-Monténégro','Seychelles','Sierra Leone','Somalie',
     'Soudan','Suisse','U','Ukraine','Z','Zimbabwe']

In [205]:
#Création d'un dictionnaire dont les clés sont des lettres et les valeurs
#sont les listes des pays par ordre alphabétique
dic = {}
for i in range(len(L)) :
        if len(L[i]) == 1:
            dic[L[i]] = []
            j=i+1
            while j != len(L) and len(L[j]) != 1:
                dic[L[i]].append(L[j])
                j+=1

In [206]:
#Nettoyage des Tables
data=[]
for table in tables:
    if table.columns[0] == 'Date':
        data.append(table)

In [207]:
len(data)

46

In [208]:
#Création du dataFrame finale
dataSet = data[0]
for table in data[1:]:
    dataSet = dataSet.append(table)

In [209]:
dataSet.index= range(302)

In [210]:
dataSet

,Date,Lieu,Match,Score,Compétition
0,15 décembre 1963,Tunis (Tunisie),Tunisie - Algérie,0-0,Match amical
1,28 décembre 1964,Alger (Algérie),Algérie - Tunisie,1-0,Qualifications aux Jeux africains
2,14 avril 1965,Tunis (Tunisie),Tunisie - Algérie,0-0,Qualifications aux Jeux africains
3,17 novembre 1968,Alger (Algérie),Algérie - Tunisie,1-2,Éliminatoires de la coupe du monde 1970
4,29 décembre 1968,Radès (Tunisie),Tunisie - Algérie,0-0,Éliminatoires de la coupe du monde 1970
...,...,...,...,...,...
297,17 mars 1993,Tunis (Tunisie),Tunisie - Suisse,0-1,Match amical
298,15 novembre 2000,Tunis (Tunisie),Tunisie - Suisse,1-1,Match amical
299,14 novembre 2012,Sousse (Tunisie),Tunisie - Suisse,1-2,Match amical
300,23 juin 2006,Berlin (Allemagne),Ukraine - Tunisie,1-0,Coupe du monde 2006 (Groupe H)
301,23 janvier 2017,Libreville (Gabon),Zimbabwe - Tunisie,2-4,Coupe d'Afrique des nations 2017 (1er tour)

## Nettoyage et Transformation des données

In [212]:
dataSet.dtypes

Date           object
Lieu           object
Match          object
Score          object
Compétition    object
dtype: object

In [213]:
dataSet.isnull().any()

Date           False
Lieu            True
Match          False
Score          False
Compétition    False
dtype: bool

In [214]:
dataSet=dataSet.dropna()

## Création des filtres

In [187]:
#Filtre sur les Matchs gagnées
def matchs_gagnées(df):
    subSet = df[ (df['Match'].str[-7:] == 'Tunisie') & (df['Score'].str[0] < df['Score'].str[-1])
           | (df['Match'].str[:7] == 'Tunisie') & (df['Score'].str[0] > df['Score'].str[-1])]
    return subSet

In [188]:
matchs_gagnées(dataSet)

,Date,Lieu,Match,Score,Compétition
3,17 novembre 1968,Alger (Algérie),Algérie - Tunisie,1-2,Éliminatoires de la coupe du monde 1970
6,11 mai 1974,Alger (Algérie),Algérie - Tunisie,1-2,Match amical
7,2 octobre 1974,Damas (Syrie),Algérie - Tunisie,0-1,Tournoi de Kuneitra (premier tour)[1]
9,6 mai 1975,Oran (Algérie),Algérie - Tunisie,1-2,Éliminatoires de la coupe d'Afrique des nation...
11,1er juin 1975,Alger (Tunisie),Tunisie - Algérie,2-1,Qualifications aux Jeux olympiques d'été 1976
...,...,...,...,...,...
290,6 octobre 1996,Tunis (Tunisie),Tunisie - Sierra Leone,2-0,Éliminatoires de la coupe d'Afrique des nation...
293,23 mars 2013,Radès (Tunisie),Tunisie - Sierra Leone,2-1,Éliminatoires de la coupe du monde 2014 : zone...
295,10 août 1985,Rabat (Maroc),Somalie - Tunisie,0-1,Jeux panarabes 1985 (groupe A)
296,9 octobre 2020,Radès (Tunisie),Tunisie - Soudan,3-0,Match amical
301,23 janvier 2017,Libreville (Gabon),Zimbabwe - Tunisie,2-4,Coupe d'Afrique des nations 2017 (1er tour)

In [189]:
#Filtre Sur Les Match perdus
def matchs_perdues(df):
    subSet = df[ (df['Match'].str[-7:] == 'Tunisie') & (df['Score'].str[0] > df['Score'].str[-1])
           | (df['Match'].str[:7] == 'Tunisie') & (df['Score'].str[0] < df['Score'].str[-1])]
    return subSet

In [190]:
matchs_perdues(dataSet)

,Date,Lieu,Match,Score,Compétition
1,28 décembre 1964,Alger (Algérie),Algérie - Tunisie,1-0,Qualifications aux Jeux africains
5,16 novembre 1972,Tunis (Tunisie),Tunisie - Algérie,1-2,Match amical
12,4 septembre 1975,Alger (Algérie),Algérie - Tunisie,2-1,Jeux méditerranéens 1975 (demi-finale)
16,7 février 1982,Tunis (Tunisie),Tunisie - Algérie,0-1,Match amical
17,19 décembre 1982,Tunis (Tunisie),Tunisie - Algérie,0-1,Match amical
...,...,...,...,...,...
284,14 juillet 2019,Le Caire (Égypte),Sénégal - Tunisie,1-0 (ap),Coupe d'Afrique des nations 2019 (demi-finale)
285,1er mars 2006,Radès (Tunisie),Tunisie - Serbie-et-Monténégro,0-1,Match amical
297,17 mars 1993,Tunis (Tunisie),Tunisie - Suisse,0-1,Match amical
299,14 novembre 2012,Sousse (Tunisie),Tunisie - Suisse,1-2,Match amical
300,23 juin 2006,Berlin (Allemagne),Ukraine - Tunisie,1-0,Coupe du monde 2006 (Groupe H)

In [191]:
#Filtre sur les Match Nulles

In [192]:
def matchs_nulles(df):
    subSet = df.drop(matchs_perdues(df).index,axis=0).drop(matchs_gagnées(df).index,axis=0)
    return subSet

In [193]:
matchs_nulles(dataSet)

,Date,Lieu,Match,Score,Compétition
0,15 décembre 1963,Tunis (Tunisie),Tunisie - Algérie,0-0,Match amical
2,14 avril 1965,Tunis (Tunisie),Tunisie - Algérie,0-0,Qualifications aux Jeux africains
4,29 décembre 1968,Radès (Tunisie),Tunisie - Algérie,0-0,Éliminatoires de la coupe du monde 1970
8,25 mars 1975,Tunis (Tunisie),Tunisie - Algérie,1-1,Éliminatoires de la coupe d'Afrique des nation...
10,11 mai 1975,Radès (Algérie),Algérie - Tunisie,1-1,Qualifications aux Jeux olympiques d'été 1976
...,...,...,...,...,...
281,10 octobre 2014,Dakar (Sénégal),Sénégal - Tunisie,0-0,Qualifications pour la coupe d'Afrique des nat...
291,8 septembre 2012,Freetown (Sierra Leone),Sierra Leone - Tunisie,2-2,Éliminatoires de la coupe d'Afrique des nation...
292,13 octobre 2012,Monastir (Tunisie),Tunisie - Sierra Leone,0-0,Éliminatoires de la coupe d'Afrique des nation...
294,8 juin 2013,Freetown (Sierra Leone),Sierra Leone - Tunisie,2-2,Éliminatoires de la coupe du monde 2014 : zone...
298,15 novembre 2000,Tunis (Tunisie),Tunisie - Suisse,1-1,Match amical

In [194]:
#Extraction de Tout les nations
nat=[]
for l in dic.values():
    for i in range(len(l)):
        nat.append(l[i])

In [195]:
#Filtre Par Equipe
def matchs_par_equipe(df,equipe):
    global nat
    if not equipe in nat:
        return False
    subSet = df[df['Match'].str.find(equipe) != -1]
    return subSet

In [196]:
matchs_perdues(matchs_par_equipe(dataSet,'Sénégal'))

,Date,Lieu,Match,Score,Compétition
264,20 avril 1963,Dakar (Sénégal),Sénégal - Tunisie,1-1 (corners : 9-4),Jeux de l'Amitié 1963 (Finale)
270,8 août 1987,Nairobi (Kenya),Sénégal - Tunisie,1-0,Jeux africains 1987 (match pour la 7e place)
271,2 juillet 1989,Dakar (Sénégal),Sénégal - Tunisie,3-0,Qualifications pour la coupe d'Afrique des nat...
272,16 juillet 1989,Tunis (Tunisie),Tunisie - Sénégal,0-1,Qualifications pour la coupe d'Afrique des nat...
283,15 janvier 2017,Franceville (Gabon),Tunisie - Sénégal,0-2,Coupe d'Afrique des nations 2017 (1er tour)
284,14 juillet 2019,Le Caire (Égypte),Sénégal - Tunisie,1-0 (ap),Coupe d'Afrique des nations 2019 (demi-finale)

In [197]:
#Filtre par Nombre de Buts 
def match_par_nbuts_tn(df,n):
    if not n in range(10):
        return False
    subSet = df[ (df['Match'].str[-7:] == 'Tunisie') & ( df['Score'].str[-1] == str(n))
           | (df['Match'].str[:7] == 'Tunisie') & (df['Score'].str[0] == str(n))]
    return subSet

In [198]:
matchs_gagnées(match_par_nbuts_tn(dataSet,6))

Empty DataFrame
Columns: [Date, Lieu, Match, Score, Compétition]
Index: []

In [199]:
#Filtre de Date
def match_par_année(df,date):
    if not date in range(1960,2021):
        return False
    subSet = df[df.Date.str[-4:] == str(date) ]
    return subSet

In [200]:
match_par_année(dataSet,2020)

,Date,Lieu,Match,Score,Compétition
248,13 octobre 2020,Sankt Veit an der Glan (Autriche),Nigeria - Tunisie,1-1,Match amical
296,9 octobre 2020,Radès (Tunisie),Tunisie - Soudan,3-0,Match amical

In [215]:
#Filtre Matchs interieurs
def matchs_interieurs(df):
    subSet = df[df.Lieu.str.find('Tunisie') != -1]
    return subSet

In [202]:
matchs_interieurs(matchs_perdues(dataSet))

,Date,Lieu,Match,Score,Compétition
5,16 novembre 1972,Tunis (Tunisie),Tunisie - Algérie,1-2,Match amical
16,7 février 1982,Tunis (Tunisie),Tunisie - Algérie,0-1,Match amical
17,19 décembre 1982,Tunis (Tunisie),Tunisie - Algérie,0-1,Match amical
21,6 octobre 1985,Radès (Tunisie),Tunisie - Algérie,1-4,Éliminatoires de la coupe du monde 1986
23,11 janvier 1987,Radès (Tunisie),Tunisie - Algérie,0-2,Qualifications aux Jeux africains
37,31 mai 1997,Radès (Tunisie),Tunisie - Algérie,0-1,Match amical
48,4 décembre 1960,Tunis (Tunisie),Tunisie - RDA,0-3,Match amical
49,26 février 1974,Tunis (Tunisie),Tunisie - RDA,0-4,Match amical
50,10 février 1983,Tunis (Tunisie),Tunisie - RDA,0-2,Match amical
69,14 octobre 2009,Radès (Tunisie),Tunisie - Arabie saoudite,0-1,Match amical
71,1er octobre 1997,Radès (Tunisie),Tunisie - Australie,0-1,Match amical
77,6 juin 1973,Tunis (Tunisie),Tunisie - Brésil,1-4,Match amical
86,19 novembre 1989,Tunis (Tunisie),Tunisie - Cameroun,0-1,Éliminatoires de la coupe du monde 1990
89,11 janvier 2002,Tunis (Tunisie),Tunisie - Cameroun,0-1,Match amical
95,24 mars 2017,Monastir (Tunisie),Tunisie - Cameroun,0-1,Match amical
114,7 novembre 1989,Tunis (Tunisie),Tunisie - Égypte,0-5,Match amical
143,9 janvier 2010,Tunis (Tunisie),Tunisie - Gambie,1-2[3],Match amical
161,11 juin 2004,Tunis (Tunisie),Tunisie - Italie,0-4,Match amical
164,8 octobre 2003,Radès (Tunisie),Tunisie - Japon,0-1,Match amical
193,26 mars 1994,Tunis (Tunisie),Tunisie - Mali,0-2,Coupe d'Afrique des nations 1994 (groupe A)
216,21 novembre 2018,Radès (Tunisie),Tunisie - Maroc,0-1,Match amical
231,10 décembre 1961,Tunis (Tunisie),Tunisie - Nigeria,2-2[8],Éliminatoires de la coupe d'Afrique des nation...
249,7 novembre 1990,Bizerte (Tunisie),Tunisie - Norvège,1-3,Match amical
252,5 avril 1978,Tunis (Tunisie),Tunisie - Pays-Bas,0-4,Match amical
257,18 février 1979,Tunis (Tunisie),Tunisie - Pologne,0-2,Match amical
262,20 mars 1977,Tunis (Tunisie),Tunisie - URSS,0-3,Match amical
272,16 juillet 1989,Tunis (Tunisie),Tunisie - Sénégal,0-1,Qualifications pour la coupe d'Afrique des nat...
285,1er mars 2006,Radès (Tunisie),Tunisie - Serbie-et-Monténégro,0-1,Match amical
297,17 mars 1993,Tunis (Tunisie),Tunisie - Suisse,0-1,Match amical
299,14 novembre 2012,Sousse (Tunisie),Tunisie - Suisse,1-2,Match amical

In [203]:
#Filtre Matchs Exterieurs 
def matchs_exterieurs(df):
    subSet = df.drop(matchs_interieurs(df).index,axis=0)
    return subSet

In [204]:
matchs_exterieurs(dataSet)

,Date,Lieu,Match,Score,Compétition
1,28 décembre 1964,Alger (Algérie),Algérie - Tunisie,1-0,Qualifications aux Jeux africains
3,17 novembre 1968,Alger (Algérie),Algérie - Tunisie,1-2,Éliminatoires de la coupe du monde 1970
6,11 mai 1974,Alger (Algérie),Algérie - Tunisie,1-2,Match amical
7,2 octobre 1974,Damas (Syrie),Algérie - Tunisie,0-1,Tournoi de Kuneitra (premier tour)[1]
9,6 mai 1975,Oran (Algérie),Algérie - Tunisie,1-2,Éliminatoires de la coupe d'Afrique des nation...
...,...,...,...,...,...
291,8 septembre 2012,Freetown (Sierra Leone),Sierra Leone - Tunisie,2-2,Éliminatoires de la coupe d'Afrique des nation...
294,8 juin 2013,Freetown (Sierra Leone),Sierra Leone - Tunisie,2-2,Éliminatoires de la coupe du monde 2014 : zone...
295,10 août 1985,Rabat (Maroc),Somalie - Tunisie,0-1,Jeux panarabes 1985 (groupe A)
300,23 juin 2006,Berlin (Allemagne),Ukraine - Tunisie,1-0,Coupe du monde 2006 (Groupe H)
301,23 janvier 2017,Libreville (Gabon),Zimbabwe - Tunisie,2-4,Coupe d'Afrique des nations 2017 (1er tour)